@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  width: 100%;
  min-height: 100%;
}
